.imggg {
  position: absolute;
  top: -220px;
  left: center;
  z-index: -1;
  background-position: center;

  width: 285px;
  height: 250px;
  @media screen and (min-width: 768px) {
    width: 409px;
    height: 359px;
    z-index: 0;
    top: -346px;
  }
  @media screen and (min-width: 1200px) {
    width: 532px;
    height: 468px;
    z-index: 0;
    top: 100px;
    left: -647px;
  }
}

.formRegister {
  position: relative;
  background-color: #2a2c36;
  border-radius: 30px;
  margin-bottom: 18px;
  padding: 32px 28px;

  @media screen and (min-width: 768px) {
    padding: 44px 50px;
    margin-top: 280px;
  }
  @media screen and (min-width: 1200px) {
    padding: 44px 50px;
    margin-top: 0;
  }
}
.boxInput {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    gap: 24px;
    margin-bottom: 50px;
  }
}
.titleRegister {
  font-family: Poppins;
  font-size: 24px;
  line-height: 28px;

  text-align: left;
  color: #fafafa;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    line-height: 30px;
  }
}
.inputRegister {
  background-color: transparent;
  outline: none;

  border: 0;
  font-family: Poppins;
  font-size: 14px;
  color: #ffffff;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    padding: 16px 18px;
  }
}

.inputRegister::placeholder {
  font-family: Poppins;
  font-size: 14px;

  color: #fafafa;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
.inputIcon {
  width: 18px;
  height: 18px;

  margin-right: 8px;

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }
}
.errorInputIcon {
  stroke: red;
}
.inputWithIcon {
  display: flex;
  align-items: center;
  border: 1px solid #8a8787;
  border-radius: 6px;
  padding: 12px 14px;

  position: relative;
  @media screen and (min-width: 768px) {
    padding: 16px 18px;
  }
}
.inputWithIcon:focus-within {
  border-color: #fafafa;
}

.inputWithIcon:hover {
  border-color: #fafafa;
}
.errorInputWithIcon {
  border: 1px solid red;
  fill: red;
}

.btnRegister {
  font-family: Poppins;
  font-style: normal;
  line-height: 18px;
  font-size: 16px;
  text-align: center;
  color: #fafafa;

  background-color: #8baa36;
  padding-block: 12px;
  min-width: 100%;

  transition: all 0.3s;

  @media screen and (min-width: 768px) {
    padding: 19px 170px;
  }
}
.btnRegister:hover {
  border-color: #8baa36;
  background-color: #fafafa;
  color: #8baa36;
}
.inputError {
  color: red;
  font-family: Poppins;
  font-size: 7px;
  padding-right: 5px;

  position: absolute;
  bottom: -11px;
  left: 0;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    bottom: -21px;
  }
}

.additionalErrorIcon {
  position: absolute;
  right: 10px;
}
.additionalSuccessIcon {
  position: absolute;
  right: 10px;
  fill: green;
  stroke: green;
}
.errorMessage {
  color: #ffffff;
}
.successMessage {
  color: #ffffff;
}
.custom-input:-internal-autofill-selected {
  background-color: yellow !important; /* Ustawienie koloru tła na żółty */
}