.flex {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  @media screen and (max-width: 480px) {
    max-width: 335px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 50vw;
  }
}
.background {
  display: flex;
  align-items: center;

  background-image: url("/src/images/RectangleMobile1x.png");
  background-repeat: no-repeat;
  background-position: center top 230px;
  background-size: cover;
  height: 100%;
  min-height: 100vh;

  padding-inline: 20px;
  padding-top: 87px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url("/src/images/RectangleMobile2x.png");
  }
  @media screen and (min-width: 768px) {
    background-image: url("/src/images/RectangleTablet1x.png");
    background-position: center top 280px;
    padding-bottom: 50px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/src/images/RectangleTablet2x.png");
    }
  }

  @media screen and (min-width: 1200px) {
    background-image: url("/src/images/RectangleDesctop1x.png");
    background-position: center top 440px;
    padding-bottom: 0px;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url("/src/images/RectangleDesctop2x.png");
    }
  }
}
